<?xml version="1.0" encoding="UTF-8"?>
<!-- this file is replaced by jack.helloworld.jpa.AppConfig.java-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/jee
            http://www.springframework.org/schema/jee/spring-jee.xsd">


    <jee:jndi-lookup id="myEmf" jndi-name="java:/mmalUnitEntityManagerFactory"/>
    <!-- enable the configuration of transactional behavior based on annotations -->
    <!--<tx:annotation-driven transaction-manager="txManager"/>&lt;!&ndash; a PlatformTransactionManager is still required &ndash;&gt;-->
</beans>