<web-app>

	<!--<context-param>
		<param-name>spring.config.location</param-name>
		<param-value>classpath:/configuration/</param-value>
	</context-param>
	<context-param>
		<param-name>spring.config.name</param-name>
		<param-value>configuration.properties</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>name</param-value>
	</context-param>
-->

</web-app>
