<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <br><br>
    <p th:if="${#lists.isEmpty(customers)}">No customer exists!</p><br/>
    <table class="table table-striped table-hover" th:unless="${#lists.isEmpty(customers)}">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Title</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Confirmed</th>
            <th>Registration date</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.firstname}">null</td>
            <td th:text="${customer.lastname}">null</td>
            <td th:text="${customer.gender}">null</td>
            <td th:text="${customer.title}">null</td>
            <td th:text="${customer.email}">null</td>
            <td th:text="${customer.phone}">null</td>
            <td th:text="${customer.password}">null</td>
            <td th:text="${customer.confirmed}">null</td>
            <td th:text="${customer.registrationDate}">null</td>
        </tr>
    </table>
</div>
</body>
</html>