<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="url" value="jdbc:mysql://localhost:3302/mmal"/>
        <property name="username" value="root"/>
        <property name="password" value="zzde"/>
    </properties>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="" value=""/>
                <property name="" value=""/>
                <property name="" value=""/>
                <property name="" value=""/>
            </dataSource>
        </environment>
    </environments>

</configuration>





